.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
  background-color: #ff6f69;
}

.container > div:nth-child(4n) {
  background-color: #ffcc5c;
}



.container {
  height:100% ;
  display:grid;
  grid-template-columns: 1 fr [c-start] 5 fr [c-end] ;
  grid-template-rows: repeat(3,1 fr);
  grid-gap:3px;
}

#header {
  grid-column:c-start/c-end;
}
